@import url("./main.css");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --color:#00dcf7;
    --color2:#fff;
    --color3:#000;
    --font-family:CircularStd, sans-serif;
}
#nav{
    /* border: 2px solid; */
    height: 78px;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    z-index: 1000;
    display: block;
    color: var(--color2);
    font-family: var(--font-family);
    font-weight: 300;
    position: fixed;
    position: sticky;
}
#sub-nav{
    /* border: 2px solid red; */
    height: 100%;
    width: 89%;
    margin-left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sub-nav ol{
    list-style: none;
}
#sub-nav ol li{
    font-family: var(--font-family);
}
#sub-nav ol li img{
    height: 50px;
}
#sub-nav ul{
    /* border: 2px solid; */
    width: 870px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    position:fixed;
    position: sticky;
}
#sub-nav ul li+li+li+li+li+li+li+li {
   border-color:var(--color);
    background-color:var(--color);
}
#sub-nav ul li+li+li+li+li+li+li+li button{
    border:var(--color) ;
    background-color:var(--color); 
    height: 77px; 
    width: 110px;
    display: block;
}
#sub-nav ul li+li+li+li+li+li+li+li button p{
    font-family: var(--font-family);
    font-weight: 100;
}
#sub-nav ul li+li+li+li+li+li+li+li button h3{
    font-family: var(--font-family);
    font-weight: 400;
    margin-top: 3px;
}
